<h1>Pages#index</h1>
<p>find the best movies, series or documentaries here!</p>

<%=link_to "Movies", movies_index_path%>
<%=link_to "Series", programs_index_path%>
<%=link_to "Documentaries", words_index_path%>